html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    color: #fff;
    background-color: #000;
    position: relative;
    user-select: none;
}

#controls {
    position: absolute;
    bottom: 20px;
    text-align: center;
}


button {
    margin: 5px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease; 
    font-family: "winco", sans-serif; 
    font-weight: 400; 
    color: #F7A9A8; 
}


button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    color: #EF798A; 
    font-weight: 700; 
}

/* Optional: Italic Button */
button.italic {
    font-style: italic;
}
